naverkinhere.sql filter=lfs diff=lfs merge=lfs -text
fasttext_model.trainables.vectors_ngrams_lockf.npy filter=lfs diff=lfs merge=lfs -text
fasttext_model.wv.vectors_ngrams.npy filter=lfs diff=lfs merge=lfs -text
